body {
    background-color: #68cdff;
    margin: 0;
    padding: 0;
}

.text-main {
    color: #ffffff;
    font-family: 'Raleway', serif;
    text-align: center;
    padding-top: 8px;
}

.text-big {
    font-size: 3em;
    font-weight: 400;
    margin: 0px;
}

.text-bigger {
    font-size: 2em;
    font-weight: 600;
    margin: 0px;
}

.underline {
    text-decoration: underline;
}

.box {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.content-panel {
    height: 600px;
    margin: 0px 0px;
}

.right-part-bg {
    background-color: #68cdff;
    position: absolute;
    right: 245px;
    height: 700px;
    width: 400px;
    transform:skew(-20deg,0deg);
    -webkit-transform:skew(-20deg,0deg);
    -moz-transform:skew(-20deg,0deg);
}

.handwritings {
    color: #ffffff;
    font-family: 'Bad Script';
    font-size: 2em;
    font-weight: 400;
}

.wave-bottom{
    background: linear-gradient(to right, #68cdff, #68cdff);
    height: 30px;
    position: relative;
}
.wave-bottom::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ff4662 13px);
}

.wave-top{
    height: 30px;
    position: relative;
}
.wave-top::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #68cdff 13px);
}

#welcome-panel {
    background-color: #68cdff;
    background-image: url('../photos/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

#map-panel {
    background-color: #68cdff;
    padding: 0px;
    margin-top: 40px;
}

#afterparty-panel {
    background-color: #ff4662;
    background-image: url('../img/cow.png');
    background-attachment: fixed;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#map {
    position: relative;
    margin: 0 auto;
    width:95% !important;
    height: 95% !important;
    padding: 7px !important;
    border: 2px dashed #ffffff;
}

#welcome-info-box {
    z-index: 100;
    top: 38px;
}

#afterparty-box {
    top: 210px;
}

#where-text {
    position: absolute;
    z-index: 100;
    left: 120px;
    top: 380px;
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}

path {
  stroke-width: 2;
  stroke: #ffffff;
  stroke-linecap: round;
  fill: none;
}

#where-path {
    z-index: 100;
    position: absolute;
    top: 450px;
    left: 150px;
}
